.span3.pull-right
  = link_to 'Back To Calendar', root_path, :class => 'btn btn-danger'
  = link_to 'Edit', edit_event_path(event), :class => 'btn btn-primary'
%strong Name:
= event.name
%br
%strong Description:
= event.description
%br
%strong From:
= event.from_date
= event.from_time
%br
%strong To:
= event.to_date
= event.to_time
%br
%strong Duration:
= event.schedule.duration
%br
%strong Schedule:
= event.schedule
%br
%strong Upcomming Events:
- event.schedule.first(5).each do |e|
  %br
  = e.to_s

